.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

.DS_Store
/.quarto/
/_site/
/_book/
site_libs
*.sif
*.tar.gz
# ignore SS output
*.ss
*.tmp
*.sso
*.dep
*.cov
*.hes
*.exe 
*win.log
fmin.log
ss3_linux.log
working/ss3-example-calcs.r
ss3.*
*.ss_new
/SS model/plots/*
*.dcf

#exceptions 
!data.ss
!control.ss
!starter.ss
!forecast.ss
!Report.sso
!CompReport.sso
!covar.sso
!Forecast-report.sso
!wtatage.ss_new
!warning.sso
!/bin/*
!executables/stock-synthesis/3.30.23.1/ss3_win.exe
