.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

.DS_Store
/.quarto/
/_site/
/_book/
site_libs
*.sif
*.tar.gz
# ignore SS output
*.ss
*.tmp
*.sso
*.dep
*.cov
*.hes
*.exe 
*win.log
fmin.log
ss3_linux.log
working/ss3-example-calcs.r
ss3.*
*.ss_new
/SS model/plots/*

#exceptions 
!/stock-synthesis-models/base-model/data.ss
!/stock-synthesis-models/base-model/control.ss
!/stock-synthesis-models/base-model/starter.ss
!/stock-synthesis-models/base-model/forecast.ss
!/bin/*
!executables/stock-synthesis/3.30.23.1/ss3_win.exe
